/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Type selector */
h1 {
    color: blue;
}

h2 {
    text-decoration: underline;
    margin-bottom: 20px;
    color: green;
}

h3 {
    font-style: italic;
    color: darkorange;
}

/* Class selector */
.div {
    background-color: lightgray;
    padding: 20px;
}

.heading1 {
    color: blue;
    font-weight: bold;
}

.heading3 {
    text-decoration: underline;
    color: green;
}

.div.selector {
    font-style: italic;
    text-decoration: dashed;
    text-align: center;
}

.paragraph1 {
    font-size: 30px;
    line-height: 2;
    color: rgb(28, 21, 105);
    font-weight: bold;
}

.paragraph2 {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(28, 21, 105);
}

.list {
    font-size: larger;
    list-style-type: disc;
    padding: 20px;
    border: 3px solid black;
    text-align: center;
    list-style-position: inside;
    text-decoration: solid;
    margin-top: 20px;
    margin-left: 200px;
    width: fit-content;
    height: fit-content;
    text-align: left;
    line-height: 40px;
}

.heading4 {
    margin-top: 20px;
    margin-left: 200px;
    color: red;
}

.types {
    margin-top: 20px;
}

/* ID selector */
#topic1 {
    font-size: 80px;
    font-weight: bold;
}